.row
  .three.columns.mb-15
    .u-pull-right
      = link_to image_tag("sk_logo", border: 0), {action: 'index', controller: 'offices'}
  .nine.columns.pt-35
    %h3 Mapbox + Turf.js on Rails
.row
  #map{'data-offices' => "#{@geojson.to_json}" ,'data-mapbox-api-key' => ENV['MAPBOX_API_KEY']}
.row.mt-15
  %h3 Current Offices
.row
  %table
    %thead
      %tr
        %th Name
        %th Address 1
        %th Address 2
        %th City
        %th State
        %th Zipcode
        %th
        %th
    %tbody
    - @offices.each do |office|
      %tr
        %td= office.name
        %td= office.address_1
        %td= office.address_2
        %td= office.city
        %td= office.state
        %td= office.zipcode
        %td= link_to 'Edit', edit_office_path(office)
        %td= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' }
.row
  = link_to 'New Office', new_office_path


